.border {
  border-bottom: solid 2px black;
}
.App {
  background-color: lightgrey;
}
.App header {
  height: 50px;
  margin-left: 0px;
  border-bottom: solid 2px black;
}
.App header:hover {
  background-color: grey;
}
@media (min-width: 480px) {
  .App header {
    width: 50%;
    /*Nested at rules and comments */
  }
}
@media (min-width: 480px) and (max-width: 720px) {
  .App header {
    background-color: blue;
  }
}
.App .sign {
  color: red;
  display: block;
  background-color: lightblue;
  border: 1px solid blue;
}
.App .sign:hover {
  background-color: cyan;
}
